* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
}
section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.mainDiv {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: start;
  margin: 0 auto;
}
h1 {
  display: flex;
  align-items: center;
  font-weight: bold;
}
h1 img {
  width: 45px;
  height: 45px;
  margin-right: 6px;
}
#clickBtn {
  display: inline-block;
  align-items: center;
  margin-top: 20px;
  background-color: #6e02ad;
  padding: 15px 30px;
  border-radius: 40px;
  cursor: pointer;
}
#clickBtn img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.input-box {
  width: 100%;
  width: 450px;
  height: 155px;
  background-color: #fff;
  border-radius: 5px;
  outline: 0;
  border: 0;
  margin-top: 40px;
  margin-left: 5px;
  color: black;
  padding: 12px 14px;
  font-size: 20px;
  position: relative;
  overflow: auto;
}
.input-box img {
  width: 35px;
  height: auto;
  position: absolute;
  bottom: 12px;
  right: 8px;
  cursor: pointer;
}
@media (max-width: 600px) {
  section {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 5px;
  }
  .mainDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    margin: 0;
  }
  .input-box {
    width: 285px;
    height: 135px;
  }
  .input-box img {
    width: 25px;
  }
}
